.center {
    background:#d62828;

}
#background{

    background-image: url("visa-3082813_1920.jpeg");
    block-size: 1200px;
}
body{
    background-color: cyan;
}
#part {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 10px 10px 100px 400px;
    block-size: 1000px;
    margin-top: 0px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;

}
#part2 {
    background-color: #d62828;
    
    

    margin-top: 50px;
    margin-bottom: 50px;
    
    margin-left: 10px;
    margin-right: 800px;

}
